<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
    <!--
        Basically here we are using the functions:
        1) border-bottom for getting a line below our nav and above the context..
        2)  sticky-top for making our nav stick at the top so that even when we move down it stays same like that only..
     -->
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-person-walking-luggage"></i></a>
    <button class="navbar-toggler" type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active"  href="/">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new_entry">Add New Listing</a>
      </div>
    </div>
  </div>
</nav>